- var pageTitle = 'Homepage'
<!DOCTYPE html>
html(lang="en")
  head
    meta(carset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-compatible", content="ie-edge")
    title #{pageTitle}
    include pug/layout/styles
  body
    .page.home-page
      include pug/layout/sidebar
      .content-area
        include pug/layout/header
        .container
          .content
            .page-head
              h1 #{pageTitle}
              p.page-description.lead this is the description of #{pageTitle}
  include pug/layout/scripts.pug